body {
    font-family: Arial, sans-serif;
    background-color: #aebfc8;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  #quiz-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #question {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  button {
    background-color: #4c56af;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.9s ease;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #83c5ee;
  }
  
  #result-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 2px solid #333;
    padding: 20px;
    text-align: center;
  }
  
  /* Dodajemo stilove za kontejner sa dugmadima */
  #button-container {
    display: flex; /* Koristimo fleksibilnu kutiju */
    justify-content: space-between; /* Postavljamo dugmad jedno pored drugog */
  }
  
  button#submit-answer {
    /* Stilovi za dugme "Submit" */
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button#back-question {
    /* Stilovi za dugme "Back" */
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Prostor iznad dugmeta */
  }
  
  button#next-question {
    /* Stilovi za dugme "Next" */
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Prostor iznad dugmeta */
  }
  
  #result-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #333;
    padding: 20px;
    text-align: center;
  }
  
  #result-container h2 {
    color: #333;
  }
  
  #result-container p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #total-correct {
    font-weight: bold;
    color: #1b9849;
  }